/* input {
	-webkit-background-clip: content-box;
	-moz-background-clip: content-box;
	background-clip: content-box;

	-webkit-box-shadow: 0 0 0 10px hsla(0, 100%, 50%, 0.884);
	-moz-box-shadow: 0 0 0 10px hsla(0, 100%, 50%, 0.884);
	box-shadow: 0 0 0 10px hsla(0, 100%, 50%, 0.884);
} */


.height-25-custom {
	height: 25rem;
}

.height-12-custom {
	height: 14rem;
}

.font-large {
	font-size:12rem;
}

.squadre {
	font-size: 7rem;
}

.h-33 {
	height: 33% !important;
}
